In [66]:
import numpy as np
import pandas as pd
import os
import geoplot as gplt
import geopandas as geopd
import geoplot.crs as gcrs
from hypothesis.extra.pandas import column
from numpy.ma.extras import unique
from clean_up_funcs import *
remove_errors()

In [67]:
source_df = pd.read_csv("/Users/jwilliamson/git/plasma_particle_simulator/Apple-mapping/csv/reformated_sources_clean.csv", index_col=False, keep_default_na=False)
source_df

,County,Fair,Year,Event,Location,Source,Page,Notes,Missing Location
0,piscataquis,piscataquis central fair,1912.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False
1,piscataquis,piscataquis central fair,1894.0,piscataquis central fair,dover-foxcroft,piscataquis observer,2,premiums,False
2,piscataquis,piscataquis central fair,1892.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False
3,piscataquis,piscataquis central fair,1884.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False
4,piscataquis,piscataquis central fair,1887.0,piscataquis central fair,,piscataquis observer,2,description,True
...,...,...,...,...,...,...,...,...,...
1276,waldo,monroe,1915.0,north waldo and penobscot fair,monroe,republican journal,,premiums,False
1277,waldo,monroe,1911.0,north waldo and penobscot fair,monroe,republican journal,3,premiums,False
1278,waldo,monroe,1888.0,north waldo and penobscot fair,monroe,maine farmer,2,description,False
1279,waldo,monroe,1891.0,north waldo and penobscot fair,monroe,maine farmer,2,premiums,False
1280,waldo,monroe,,,,,,,True

In [80]:
county_cords = pd.read_csv("/Users/jwilliamson/git/plasma_particle_simulator/Apple-mapping/cord data/CountyCords.csv", index_col=False)
county_cords.head(3)
county_cords["County"] = county_cords["County"].apply(cleanup_str)
county_cords = county_cords.rename(columns={"Latitude": "County Longitude", "longitude": "County Latitude"})
county_cords

          County  County Longitude  County Latitude
0   androscoggin           -70.198           44.187
1      aroostook           -68.412           46.574
2     cumberland           -70.268           43.874
3       franklin           -70.449           44.980
4        hancock           -68.402           44.614
5       kennebec           -69.753           44.415
6           knox           -69.135           44.101
7        lincoln           -69.518           44.078
8         oxford           -70.734           44.426
9      penobscot           -68.575           45.354
10   piscataquis           -69.473           45.621
11     sagadahoc           -69.807           43.936
12      somerset           -69.921           45.392
13         waldo           -69.221           44.545
14    washington           -67.759           44.976
15          york           -70.757           43.471

In [69]:
town_cords = pd.read_csv("/Users/jwilliamson/git/plasma_particle_simulator/Apple-mapping/town_cords_full.csv", index_col=False)[["Location", "Latitude", "Longitude"]]
town_cords.head(3)

         Location   Latitude  Longitude
0        limerick  43.682778 -43.682778
1          orland  44.570350 -44.570350
2  fort fairfield  46.771429 -67.843738

In [88]:
sources_pl_loc = source_df.merge(town_cords, on="Location", how="left")
sources_pl_loc.rename(columns={"Latitude": "Town Latitude", "Longitude": "Town Longitude"}, inplace=True)
sources_pl_loc

,County,Fair,Year,Event,Location,Source,Page,Notes,Missing Location,Town Latitude,Town Longitude
0,piscataquis,piscataquis central fair,1912.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False,45.186827,-69.232015
1,piscataquis,piscataquis central fair,1894.0,piscataquis central fair,dover-foxcroft,piscataquis observer,2,premiums,False,45.186827,-69.232015
2,piscataquis,piscataquis central fair,1892.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False,45.186827,-69.232015
3,piscataquis,piscataquis central fair,1884.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False,45.186827,-69.232015
4,piscataquis,piscataquis central fair,1887.0,piscataquis central fair,,piscataquis observer,2,description,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1276,waldo,monroe,1915.0,north waldo and penobscot fair,monroe,republican journal,,premiums,False,44.616108,-69.021310
1277,waldo,monroe,1911.0,north waldo and penobscot fair,monroe,republican journal,3,premiums,False,44.616108,-69.021310
1278,waldo,monroe,1888.0,north waldo and penobscot fair,monroe,maine farmer,2,description,False,44.616108,-69.021310
1279,waldo,monroe,1891.0,north waldo and penobscot fair,monroe,maine farmer,2,premiums,False,44.616108,-69.021310
1280,waldo,monroe,,,,,,,True,NaN,NaN

In [90]:
full_sources = sources_pl_loc.merge(county_cords, on=["County"], how="left")
full_sources

,County,Fair,Year,Event,Location,Source,Page,Notes,Missing Location,Town Latitude,Town Longitude,County Longitude,County Latitude
0,piscataquis,piscataquis central fair,1912.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False,45.186827,-69.232015,-69.473,45.621
1,piscataquis,piscataquis central fair,1894.0,piscataquis central fair,dover-foxcroft,piscataquis observer,2,premiums,False,45.186827,-69.232015,-69.473,45.621
2,piscataquis,piscataquis central fair,1892.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False,45.186827,-69.232015,-69.473,45.621
3,piscataquis,piscataquis central fair,1884.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False,45.186827,-69.232015,-69.473,45.621
4,piscataquis,piscataquis central fair,1887.0,piscataquis central fair,,piscataquis observer,2,description,True,NaN,NaN,-69.473,45.621
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,waldo,monroe,1915.0,north waldo and penobscot fair,monroe,republican journal,,premiums,False,44.616108,-69.021310,-69.221,44.545
1277,waldo,monroe,1911.0,north waldo and penobscot fair,monroe,republican journal,3,premiums,False,44.616108,-69.021310,-69.221,44.545
1278,waldo,monroe,1888.0,north waldo and penobscot fair,monroe,maine farmer,2,description,False,44.616108,-69.021310,-69.221,44.545
1279,waldo,monroe,1891.0,north waldo and penobscot fair,monroe,maine farmer,2,premiums,False,44.616108,-69.021310,-69.221,44.545
1280,waldo,monroe,,,,,,,True,NaN,NaN,-69.221,44.545

In [91]:
full_sources["Coalesce Latitude"] = full_sources["Town Latitude"].fillna(full_sources["County Latitude"])
full_sources["Coalesce Longitude"] = full_sources["Town Longitude"].fillna(full_sources["County Longitude"])
full_sources

,County,Fair,Year,Event,Location,Source,Page,Notes,Missing Location,Town Latitude,Town Longitude,County Longitude,County Latitude,Coalesce Latitude,Coalesce Longitude
0,piscataquis,piscataquis central fair,1912.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False,45.186827,-69.232015,-69.473,45.621,45.186827,-69.232015
1,piscataquis,piscataquis central fair,1894.0,piscataquis central fair,dover-foxcroft,piscataquis observer,2,premiums,False,45.186827,-69.232015,-69.473,45.621,45.186827,-69.232015
2,piscataquis,piscataquis central fair,1892.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False,45.186827,-69.232015,-69.473,45.621,45.186827,-69.232015
3,piscataquis,piscataquis central fair,1884.0,piscataquis central fair,dover-foxcroft,piscataquis observer,3,premiums,False,45.186827,-69.232015,-69.473,45.621,45.186827,-69.232015
4,piscataquis,piscataquis central fair,1887.0,piscataquis central fair,,piscataquis observer,2,description,True,NaN,NaN,-69.473,45.621,45.621000,-69.473000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,waldo,monroe,1915.0,north waldo and penobscot fair,monroe,republican journal,,premiums,False,44.616108,-69.021310,-69.221,44.545,44.616108,-69.021310
1277,waldo,monroe,1911.0,north waldo and penobscot fair,monroe,republican journal,3,premiums,False,44.616108,-69.021310,-69.221,44.545,44.616108,-69.021310
1278,waldo,monroe,1888.0,north waldo and penobscot fair,monroe,maine farmer,2,description,False,44.616108,-69.021310,-69.221,44.545,44.616108,-69.021310
1279,waldo,monroe,1891.0,north waldo and penobscot fair,monroe,maine farmer,2,premiums,False,44.616108,-69.021310,-69.221,44.545,44.616108,-69.021310
1280,waldo,monroe,,,,,,,True,NaN,NaN,-69.221,44.545,44.545000,-69.221000

In [92]:
full_sources.to_csv("/Users/jwilliamson/git/plasma_particle_simulator/Apple-mapping/csv/reformated_sources_clean_w_loc.csv", index=False)